<?xml version="1.0"?>
<launch>

    <!-- Use the rosbag play node -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" 
          args="--rate 16.0 /home/sebastiano/Desktop/Rosbag.20240722_084853.evaluation.c7.mi_bfrtbh.no_T.bag">
    </node>

    <arg name="filepath"  default='$(env HOME)/Desktop/' /> <!--where the files are saved-->

    <arg name="subject"   default="c7"/>
    <arg name="task"      default="mi_bfrtbh"/>
    <arg name="extra"     default="T_2__________"/> 
    <arg name="modality" default = "evaluation"/>
    
    <rosparam param="/protocol/subject"	 subst_value="True">$(arg subject)</rosparam>
    <rosparam param="/protocol/modality" subst_value="True">$(arg modality)</rosparam>
    <rosparam param="/protocol/task"	 subst_value="True">$(arg task)</rosparam>
    <rosparam param="/protocol/extra"	 subst_value="True">$(arg extra)</rosparam>

    <node name="data_recorder" pkg="hmm_sim" type="data_recorder.py" output="screen" >
		<param name="~filepath" value="$(arg filepath)"/>
	</node>
</launch>